h1 {
    color: darkblue;
    font-size: 2rem;
}

body {
    background: #f4f4f4;
}

.img {
    width: 100%;
    border-radius: 5px;

}

#demo {
    font-size: 2rem;
    color: darkblue;
    font-weight: bold;
}

a {
    text-decoration: none;
}

span {
    color: white;
}

.card-body {
    background: #k1f1f1;
}

.alert-warning {
    color: red;
}

.profile_img {
    background: #f4f4f4;
    padding: 20px 5px 0px 5px;
}


