{% extends "base.html" %}

{% block content %}


{% for message in get_flashed_messages(): %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}
{% if current_user.is_authenticated %}
<h1>Add Blog Post:</h1>
    <br/>
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
   <form method="POST">
       {{ form.hidden_tag() }}

       {{ form.title.label(
       class="form-label")  }}

       {{ form.title(
       class="form-control") }}

       <br>

       {{ form.slug.label(
       class="form-label")  }}

       {{ form.slug(
       class="form-control") }}
       <br>
       {{ form.content.label(
       class="form-label")  }}

       {{ form.content(
       class="form-control", rows="5") }}

       <br/><br/>
       {{ form.submit(
       class="btn btn-secondary") }}

   </form>

    {{ ckeditor.load() }}
    {{ ckeditor.config(name='content') }}
</div>
<br/><br/>
<!--<table class="table table-hover table-bordered">-->
<!--{% for our_post in our_posts %}-->
<!--<tr>-->
<!--      <td> {{ our_post.id }}.-->
<!--          {{ our_post.author }} - -->
<!--          {{ our_post.title }} - -->

<!--      </td>-->
<!--</tr>-->
<!--{% endfor %}-->
<!--</table>-->

{% else %}
<h2>Must Be Logged In...</h2>
<p>Sorry, You must be logged in to account</p>
<a href="{{ url_for('login') }}">Login Here</a>
{% endif %}
<br/><br/>

{% endblock %}