{% extends "base.html" %}

{% block content %}

{% for message in get_flashed_messages(): %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}


    <h2>Dashboard</h2>
    <br/><br/>

<div class="card">
  <div class="card-header">
    <strong>{{ current_user.name }}</strong>
  </div>
  <div class="card-body">
    <h5 class="card-title" style="color:lightblue">
        Welcome To Your User Dashboard ...
    </h5>
      <br/>
    <strong>Name</strong>:  {{ current_user.name }}<br/>
    <strong>Username</strong>:  {{ current_user.username }}<br/>
    <strong>User Id</strong>:  {{ current_user.id }}<br/>
    <strong>Email</strong>:  {{ current_user.email }}<br/>
    <strong>Favorite Color</strong>:  {{ current_user.favorite_color }}<br/>
    <strong>Date Joined</strong>:  {{ current_user.date_added.date() }}
      <br/><br/>
    <a href="{{ url_for('logout') }}" class="btn btn-outline-secondary btn-sm">Logout></a>
    <a href="{{ url_for('update', id=current_user.id) }}" class="btn btn-outline-secondary btn-sm"
    >Update Profiler</a>
    <a href="{{ url_for('delete', id=current_user.id) }}" class="btn btn-outline-danger btn-sm">Delete</a>
  </div>
</div>

<br/>
<div class="card">
  <div class="card-header">
    <strong>Update Profile</strong>
  </div>
  <div class="card-body">

   <form action="/update/{{ current_user.id }}" method="POST">
       {{ form.hidden_tag() }}

       {{ form.name.label(
       class="form-label")  }}

       {{ form.name(
       class="form-control", value=current_user.name) }}

       <br/>

        {{ form.username.label(
       class="form-label")  }}

       {{ form.username(
       class="form-control", value=current_user.username) }}

       <br/>


       {{ form.email.label(
       class="form-label")  }}

       {{ form.email(
       class="form-control", value=current_user.email) }}
        <br>

       {{ form.favorite_color.label(
       class="form-label")  }}

       {{ form.favorite_color(
       class="form-control", value=current_user.favorite_color) }}

       <br/><br/>
       {{ form.submit(
       class="btn btn-secondary") }}


   </form>
  </div>
</div>




{% endblock %}