{% extends "base.html" %}

{% block content %}

{% for message in get_flashed_messages(): %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}

<h1>Blog Posts...</h1>
<br/>

{% for post in all_posts: %}
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
     <small>By: {{ post.author }}</small><br/>
    <a href="{{ url_for('post', id=post.id ) }}">
        <h2>{{ post.title }}</h2>
    </a>
    <br/>
    Date Posted: {{ post.date_posted.date() }}<br/><br/>
    {{ post.content }}
    <hr/>
    <a href="{{ url_for('post', id=post.id ) }}"
       class="btn btn-sm btn-outline-secondary btn-small">
        View Post
    </a>
    <a href="{{ url_for('delete_post', id=post.id ) }}"
       class="btn btn-sm btn-outline-danger ">
        delete
    </a>
</div>
{% endfor %}

{% endblock %}